.danhmuctienich{
  &__block01{
    &__box{
      background: #FFFFFF;
      border: 1px solid #DBE0E6;
      box-sizing: border-box;
      border-radius: 4px;
      width: 160px;
      height: 160px;
      &:hover{
        border-color: #fe61a4;
      }
    }
  }
}