.home{
  &__slidenav{
    width: 40px;
    height: 40px;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    svg{
      opacity: 0;
    }
    &--next{
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.16797 19.9993C9.16797 19.5391 9.54106 19.166 10.0013 19.166H28.3346C28.7949 19.166 29.168 19.5391 29.168 19.9993C29.168 20.4596 28.7949 20.8327 28.3346 20.8327H10.0013C9.54106 20.8327 9.16797 20.4596 9.16797 19.9993Z' fill='%238592AB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.0781 12.7441C21.4035 12.4186 21.9311 12.4186 22.2566 12.7441L28.9232 19.4107C29.2487 19.7362 29.2487 20.2638 28.9232 20.5893L22.2566 27.2559C21.9311 27.5814 21.4035 27.5814 21.0781 27.2559C20.7526 26.9305 20.7526 26.4028 21.0781 26.0774L27.1555 20L21.0781 13.9226C20.7526 13.5972 20.7526 13.0695 21.0781 12.7441Z' fill='%238592AB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.0007 2.49967C10.3357 2.49967 2.50065 10.3347 2.50065 19.9997C2.50065 29.6647 10.3357 37.4997 20.0007 37.4997C29.6656 37.4997 37.5007 29.6647 37.5007 19.9997C37.5007 10.3347 29.6656 2.49967 20.0007 2.49967ZM0.833984 19.9997C0.833984 9.41422 9.41519 0.833008 20.0007 0.833008C30.5861 0.833008 39.1673 9.41422 39.1673 19.9997C39.1673 30.5851 30.5861 39.1663 20.0007 39.1663C9.41519 39.1663 0.833984 30.5851 0.833984 19.9997Z' fill='%238592AB'/%3E%3C/svg%3E%0A");
      &:hover{
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.16797 19.9993C9.16797 19.5391 9.54106 19.166 10.0013 19.166H28.3346C28.7949 19.166 29.168 19.5391 29.168 19.9993C29.168 20.4596 28.7949 20.8327 28.3346 20.8327H10.0013C9.54106 20.8327 9.16797 20.4596 9.16797 19.9993Z' fill='%23FF61A3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.0781 12.7441C21.4035 12.4186 21.9311 12.4186 22.2566 12.7441L28.9232 19.4107C29.2487 19.7362 29.2487 20.2638 28.9232 20.5893L22.2566 27.2559C21.9311 27.5814 21.4035 27.5814 21.0781 27.2559C20.7526 26.9305 20.7526 26.4028 21.0781 26.0774L27.1555 20L21.0781 13.9226C20.7526 13.5972 20.7526 13.0695 21.0781 12.7441Z' fill='%23FF61A3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.0007 2.49967C10.3357 2.49967 2.50065 10.3347 2.50065 19.9997C2.50065 29.6647 10.3357 37.4997 20.0007 37.4997C29.6656 37.4997 37.5007 29.6647 37.5007 19.9997C37.5007 10.3347 29.6656 2.49967 20.0007 2.49967ZM0.833984 19.9997C0.833984 9.41422 9.41519 0.833008 20.0007 0.833008C30.5861 0.833008 39.1673 9.41422 39.1673 19.9997C39.1673 30.5851 30.5861 39.1663 20.0007 39.1663C9.41519 39.1663 0.833984 30.5851 0.833984 19.9997Z' fill='%23FF61A3'/%3E%3C/svg%3E%0A");
      }
    }
    &--prev{
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_5208_118300)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.833 20.0007C30.833 20.4609 30.4599 20.834 29.9997 20.834L11.6663 20.834C11.2061 20.834 10.833 20.4609 10.833 20.0006C10.833 19.5404 11.2061 19.1673 11.6663 19.1673L29.9997 19.1673C30.4599 19.1673 30.833 19.5404 30.833 20.0007Z' fill='%238592AB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.9224 27.2559C18.597 27.5814 18.0694 27.5814 17.7439 27.2559L11.0772 20.5893C10.7518 20.2638 10.7518 19.7362 11.0772 19.4107L17.7439 12.7441C18.0694 12.4186 18.597 12.4186 18.9224 12.7441C19.2479 13.0695 19.2479 13.5972 18.9224 13.9226L12.845 20L18.9224 26.0774C19.2479 26.4028 19.2479 26.9305 18.9224 27.2559Z' fill='%238592AB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.9998 37.5003C29.6648 37.5003 37.4998 29.6653 37.4998 20.0003C37.4998 10.3353 29.6648 2.50032 19.9998 2.50032C10.3349 2.50032 2.49984 10.3353 2.49984 20.0003C2.49984 29.6653 10.3349 37.5003 19.9998 37.5003ZM39.1665 20.0003C39.1665 30.5858 30.5853 39.167 19.9998 39.167C9.41438 39.167 0.833169 30.5858 0.83317 20.0003C0.833171 9.41486 9.41438 0.833654 19.9998 0.833655C30.5853 0.833656 39.1665 9.41487 39.1665 20.0003Z' fill='%238592AB'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_5208_118300'%3E%3Crect width='40' height='40' fill='white' transform='translate(40 40) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      &:hover{
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_5208_118300)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.833 20.0007C30.833 20.4609 30.4599 20.834 29.9997 20.834L11.6663 20.834C11.2061 20.834 10.833 20.4609 10.833 20.0006C10.833 19.5404 11.2061 19.1673 11.6663 19.1673L29.9997 19.1673C30.4599 19.1673 30.833 19.5404 30.833 20.0007Z' fill='%23FF61A3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.9224 27.2559C18.597 27.5814 18.0694 27.5814 17.7439 27.2559L11.0772 20.5893C10.7518 20.2638 10.7518 19.7362 11.0772 19.4107L17.7439 12.7441C18.0694 12.4186 18.597 12.4186 18.9224 12.7441C19.2479 13.0695 19.2479 13.5972 18.9224 13.9226L12.845 20L18.9224 26.0774C19.2479 26.4028 19.2479 26.9305 18.9224 27.2559Z' fill='%23FF61A3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.9998 37.5003C29.6648 37.5003 37.4998 29.6653 37.4998 20.0003C37.4998 10.3353 29.6648 2.50032 19.9998 2.50032C10.3349 2.50032 2.49984 10.3353 2.49984 20.0003C2.49984 29.6653 10.3349 37.5003 19.9998 37.5003ZM39.1665 20.0003C39.1665 30.5858 30.5853 39.167 19.9998 39.167C9.41438 39.167 0.833169 30.5858 0.83317 20.0003C0.833171 9.41486 9.41438 0.833654 19.9998 0.833655C30.5853 0.833656 39.1665 9.41487 39.1665 20.0003Z' fill='%23FF61A3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_5208_118300'%3E%3Crect width='40' height='40' fill='white' transform='translate(40 40) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }
  &__block01{
    &__bg{
      background:
              url("/images/bg_left.png") no-repeat top left,
              url("/images/home/Group8098.png") no-repeat top right;
      //min-height: 648px;
      >.uk-section{
        @include media-breakpoint-down('s'){
          padding-bottom: 20px;
        }
      }
      @include media-breakpoint-up('m'){
        min-height: 648px;
      }
      @include media-breakpoint-up('l'){
        background-size: 19%;
      }
      @include media-breakpoint-up('xl'){
        background-size: inherit;
      }
      .uk-container-small{
        max-width: 796px;
      }
    }
    &__box{
      cursor: pointer;
    }
    &__box1{
      border: 1px solid #DBE0E6;
      box-sizing: border-box;
      border-radius: 4px;
      .home__block01__box:hover &{
        border-color: #EF5DA8;
      }
    }
    &__sale{
      @extend .fz-16;
      font-family: $font-Roboto-Medium;
      color: #ffffff;
      background: #FF61A3;
      border-radius: 0px 0px 0px 4px;
      width: 75px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__txt{
      @extend .fz-16;
      line-height: 1.25;
      color: #596481;
      a{
        color: #596481;
      }
    }
  }
  &__block02{
    &__section{
      border-top: 1px solid #DBE0E6;
      .uk-container{
        .uk-container{
          padding-left: 15px;
          padding-right: 15px;
          @include media-breakpoint-up('s'){
            padding-left: 30px;
            padding-right: 30px;
          }
          @include media-breakpoint-up('m'){
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
    &__title{
      color: #2E3A5B;
      @extend .fz-20;
      line-height: 1.4;
    }
    &__w7{
      @include media-breakpoint-up('m'){
        width: calc((100% - 0px)/7);
      }
      &:first-child{
        &.uk-active{
          @include media-breakpoint-down('s'){
            margin-left: 30px;
          }
          @include media-breakpoint-down('xs'){
            margin-left: 15px;
          }
        }
      }
    }
    &__box{
      background: #FFFFFF;
      /* Ink/200 */

      border: 1px solid #DBE0E6;
      box-sizing: border-box;
      border-radius: 4px;
      margin-bottom: 6px !important;
      &:hover{
        border-color: #fe61a4;
      }
    }
  }
  &__blockVisao{
    &__section{
      padding-bottom: 56px;
      @include media-breakpoint-up('s'){
        padding-top: 80px;
        padding-bottom: 104px;
      }
    }
    &__box{
      background: #FFFFFF;
      /* Ink/200 */

      border: 1px solid #DBE0E6;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 15px;
      min-height: 210px;
    }
    &__txt{
      color: #2E3A5B;
      @extend .fz-16;
    }
  }
  &__blockTienich{
    &__section{

    }
    &__slider{
      @include media-breakpoint-down('s'){
        padding-right: 30px;
      }
      @include media-breakpoint-down('xs'){
        padding-right: 15px;
      }
    }
  }

  &__blockNews{
    &__width{
      @include media-breakpoint-down('s'){
        width: 287px;
        box-sizing: content-box;
      }
      &.uk-first-column{
        @include media-breakpoint-down('s'){
          margin-left: 30px;
        }
        @include media-breakpoint-down('xs'){
          margin-left: 15px;
        }
      }
      &:last-child{
        @include media-breakpoint-down('s'){
          margin-right: 30px;
        }
        @include media-breakpoint-down('xs'){
          margin-right: 15px;
        }
      }
    }
    &__overAuto{
      margin-left: -15px;
      margin-right: -15px;
      @include media-breakpoint-up('s'){
        margin-left: -30px;
        margin-right: -30px;
        &::-webkit-scrollbar {
          display: block;
        }
      }
      @include media-breakpoint-up('m'){
        margin-left: 0;
        margin-right: 0;
      }
    }
    &__grid{
      @include media-breakpoint-down('s'){
        width: max-content;
      }
    }
    &__section{
      padding-top: 40px;
      padding-bottom: 56px;
      @include media-breakpoint-up('s'){
        padding-top: 80px;
        padding-bottom: 104px;
      }
      @include media-breakpoint-up('m'){
        padding-bottom: 116px;
      }
    }
    &__card{
      background: #FFFFFF;
      /* Ink/200 */

      border: 1px solid #DBE0E6;
      box-sizing: border-box;
      border-radius: 8px;
      overflow: hidden;
      &__title{
        color: #2E3A5B;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 48px;
        overflow: hidden;
        @extend .fz-16;
        font-family: $font-Roboto-Medium;
        a{
          color: #2E3A5B;
        }
      }
      &__time{
        color: #8592AB;
        @extend .fz-14;
        margin-top: 8px;
      }

    }
    &__item{
      &:nth-child(n+2){
        border-top: 1px solid #DBE0E6;
        $x:40px;
        margin-top: #{$x};
        padding-top: #{$x};
        @include media-breakpoint-up('m'){
          $x:80px;
          margin-top: #{$x};
          padding-top: #{$x};
        }
      }
    }
    &__btnDetail{
      min-width: 187px;
    }
  }
}
.uk-dotnav>.uk-active>*{
  background-color: #FF61A3;
}
.banner_home img {
  border-radius: 8px;
}
.banner_home span {
  width: 100% !important;
}
