
.tienichganban{
  &__box4{
    background: #FAFAFB;
    padding: 15px;
  }
  &__box3{
    @include media-breakpoint-down('xs'){
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  &__box2{
    background: #FAFAFB;
    padding: 15px;
    //min-height: 84px;
    @include media-breakpoint-up('s'){
      padding-left: 30px;
      padding-right: 30px;
      margin-left: -30px;
      margin-right: -30px;
    }
  }
  &__boxMap{
    position:absolute;
    top: 0;
    left: 0;
    padding: 12px 24px;
    &__title{
      color: #596481;
      @extend .fz-16;
      line-height: 1.25;
      position: relative;
      top: 10px;
    }
    &__btn{
      text-transform: inherit;
      background: #FFFFFF;
      border-color: #DBE0E6;
      background-repeat: no-repeat;
      $x:12px;
      background-position: center left #{$x};
      border:2px solid #DBE0E6;
      padding-left: 12px;
      padding-right: 12px;
      span{
        @extend .fz-16;
        font-family: $font-SF-Pro-Display-Regular;
      }
      &.uk-active{
        //border-color: #FF61A3;
        background-color: #FFFFFF;
        border:2px solid #FF61A3;
        color: #FF61A3
      }
      &:hover{
        background: #FFFFFF;
      }
     
    }
    &__icon{
      vertical-align: sub;
      margin-right: 5px;
    }
  }
  &__box{
    background: #FAFAFB;
    border-radius: 4px;
    padding: 16px;
    $x:52px;
    &__input{
      @extend .tienichganban__box__dc;
      height: #{$x} !important;
      padding-right: 30px!important;
      &::placeholder{
        color: #2E3A5B;
      }
    }
    &__btn{
      @extend .tienichganban__box__dc;
      text-align: left;
      padding-left: 10px;
      line-height: calc(#{$x} - 2px);
      .uk-icon{
        right: 10px;
      }
    }
    &__dc{
      background: #FFFFFF !important;
      border: 1px solid #DBE0E6;
      box-sizing: border-box;
      border-radius: 8px;
      color: #2E3A5B;
      @extend .fz-16;
      font-family: $font-SF-Pro-Display-Regular;
      text-transform: inherit;
    }
    &__item{
      cursor: pointer;
      &:hover{
        background-color: #f1f1f1;
      }
      &:nth-child(n+2){
        border-top: 1px solid #DBE0E6;
        margin-top: 16px;
        padding-top: 16px;
      }
    }
    &__btn-search-ico{
      cursor: pointer;
      pointer-events: all!important;
    }
  }
  &__box1{
    &__img{
      width: 24px;
    }
    &__title{
      color: #2E3A5B;
      @extend .fz-16;
      line-height: 1.5;
    }
    &__list{
      margin: 0;
      margin-top: 6px;
      >li{
        color: #596481;
        @extend .fz-14;
        margin: 0 !important;
        padding-left: 17px;
        background-repeat: no-repeat;
        background-position: center left;
        &:nth-child(1){
          background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.0013 0.875081C4.878 0.875081 2.6263 2.48578 2.6263 5.25008C2.6263 5.98759 2.89647 6.83382 3.32548 7.70524C3.75239 8.57241 4.32469 9.44088 4.90195 10.2166C5.47854 10.9914 6.05581 11.6679 6.48923 12.151C6.69978 12.3857 6.87604 12.5743 7.0013 12.7059C7.12657 12.5743 7.30282 12.3857 7.51337 12.151C7.94679 11.6679 8.52407 10.9914 9.10065 10.2166C9.67792 9.44088 10.2502 8.57241 10.6771 7.70524C11.1061 6.83382 11.3763 5.98759 11.3763 5.25008C11.3763 2.48578 9.12461 0.875081 7.0013 0.875081ZM7.0013 13.1251C6.79506 13.3313 6.79501 13.3313 6.79494 13.3312L6.79471 13.331L6.79393 13.3302L6.79112 13.3274L6.78054 13.3167C6.77133 13.3074 6.75783 13.2937 6.74033 13.2758C6.70534 13.24 6.65436 13.1874 6.58966 13.1195C6.46029 12.9838 6.27598 12.7868 6.05504 12.5406C5.61346 12.0484 5.02407 11.3578 4.43398 10.5648C3.84458 9.77283 3.25022 8.87307 2.80213 7.96289C2.35613 7.05697 2.04297 6.11674 2.04297 5.25008C2.04297 2.10813 4.61427 0.291748 7.0013 0.291748C9.38833 0.291748 11.9596 2.10813 11.9596 5.25008C11.9596 6.11674 11.6465 7.05697 11.2005 7.96289C10.7524 8.87307 10.158 9.77283 9.56862 10.5648C8.97854 11.3578 8.38915 12.0484 7.94757 12.5406C7.72663 12.7868 7.54232 12.9838 7.41295 13.1195C7.34825 13.1874 7.29726 13.24 7.26227 13.2758C7.24478 13.2937 7.23128 13.3074 7.22206 13.3167L7.21149 13.3274L7.20867 13.3302L7.20789 13.331L7.20766 13.3312C7.20759 13.3313 7.20754 13.3313 7.0013 13.1251ZM7.0013 13.1251L7.20754 13.3313C7.09364 13.4452 6.90897 13.4452 6.79506 13.3313L7.0013 13.1251Z' fill='%238592AB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4.08333C6.35567 4.08333 5.83333 4.60567 5.83333 5.25C5.83333 5.89433 6.35567 6.41667 7 6.41667C7.64433 6.41667 8.16667 5.89433 8.16667 5.25C8.16667 4.60567 7.64433 4.08333 7 4.08333ZM5.25 5.25C5.25 4.2835 6.0335 3.5 7 3.5C7.9665 3.5 8.75 4.2835 8.75 5.25C8.75 6.2165 7.9665 7 7 7C6.0335 7 5.25 6.2165 5.25 5.25Z' fill='%238592AB'/%3E%3C/svg%3E%0A");
        }
        &:nth-child(2){
          background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.63439 8.64152C4.92147 10.1743 6.47084 11.3811 8.23922 12.235C8.91251 12.5528 9.81292 12.93 10.8161 12.9946C10.8783 12.9973 10.9378 13 11 13C11.6732 13 12.214 12.7683 12.6548 12.2915C12.6575 12.2889 12.6629 12.2835 12.6656 12.2781C12.8224 12.0895 13.0009 11.9198 13.1875 11.7393C13.3145 11.6181 13.4443 11.4915 13.5687 11.3622C14.1447 10.7642 14.1447 10.0046 13.5633 9.4254L11.9382 7.80646C11.6624 7.52093 11.3325 7.37008 10.9864 7.37008C10.6403 7.37008 10.3077 7.52093 10.0238 7.80377L9.05582 8.76813C8.96659 8.71695 8.87465 8.67116 8.78813 8.62806C8.67997 8.57418 8.57992 8.523 8.49069 8.46643C7.6092 7.90883 6.80883 7.18152 6.04361 6.24679C5.65695 5.75922 5.39737 5.34977 5.2162 4.93224C5.47038 4.70327 5.70832 4.46353 5.93816 4.22918C6.01928 4.14567 6.1031 4.06216 6.18692 3.97866C6.47895 3.68773 6.63578 3.35102 6.63578 3.00891C6.63578 2.6668 6.48165 2.33009 6.18692 2.03916L5.38115 1.23643C5.28651 1.14215 5.19728 1.05056 5.10534 0.956278C4.92688 0.773104 4.74031 0.584542 4.55644 0.414836C4.27793 0.142768 3.95075 0 3.60465 0C3.26125 0 2.93136 0.142768 2.64204 0.41753L1.63076 1.42499C1.26302 1.79134 1.05482 2.23581 1.01156 2.75031C0.960181 3.39411 1.07916 4.07833 1.38741 4.9053C1.8606 6.18483 2.57444 7.37277 3.63439 8.64152ZM1.67132 2.80688C1.70377 2.44861 1.84167 2.14961 2.10125 1.89101L3.10712 0.888935C3.26395 0.738085 3.437 0.659967 3.60465 0.659967C3.76959 0.659967 3.93723 0.738085 4.09136 0.894322C4.27252 1.06133 4.44287 1.23643 4.62674 1.4223C4.71868 1.51658 4.81332 1.61086 4.90795 1.70783L5.71373 2.51057C5.88138 2.67758 5.9679 2.84729 5.9679 3.0143C5.9679 3.18131 5.88138 3.35102 5.71373 3.51803C5.62991 3.60153 5.54609 3.68773 5.46226 3.77124C5.2108 4.02445 4.97555 4.26419 4.71597 4.49316C4.71057 4.49855 4.70786 4.50124 4.70245 4.50663C4.47803 4.73021 4.51318 4.94302 4.56726 5.10464C4.56996 5.11272 4.57266 5.11811 4.57537 5.12619C4.78357 5.62453 5.07289 6.09863 5.52446 6.66432C6.33564 7.661 7.19009 8.43411 8.13107 9.02942C8.24734 9.10485 8.37172 9.16411 8.48799 9.22337C8.59615 9.27725 8.69619 9.32843 8.78542 9.385C8.79624 9.39038 8.80435 9.39577 8.81517 9.40116C8.9044 9.44695 8.99092 9.4685 9.07745 9.4685C9.29377 9.4685 9.43437 9.33112 9.48034 9.28533L10.4916 8.27787C10.6484 8.12163 10.8188 8.03813 10.9864 8.03813C11.1919 8.03813 11.3596 8.16473 11.465 8.27787L13.0955 9.8995C13.42 10.2228 13.4173 10.5729 13.0874 10.915C12.9738 11.0363 12.8549 11.1521 12.7278 11.2733C12.5385 11.4565 12.3411 11.645 12.1627 11.8579C11.8517 12.1919 11.4813 12.3481 11.0027 12.3481C10.9567 12.3481 10.908 12.3454 10.8621 12.3427C9.97516 12.2862 9.15046 11.9414 8.53125 11.6477C6.84939 10.8369 5.37303 9.6867 4.14814 8.22669C3.13957 7.0172 2.46088 5.89121 2.01202 4.68442C1.73351 3.94364 1.62806 3.34832 1.67132 2.80688Z' fill='%238592AB'/%3E%3C/svg%3E%0A");
        }
        &.tel{
          background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.63439 8.64152C4.92147 10.1743 6.47084 11.3811 8.23922 12.235C8.91251 12.5528 9.81292 12.93 10.8161 12.9946C10.8783 12.9973 10.9378 13 11 13C11.6732 13 12.214 12.7683 12.6548 12.2915C12.6575 12.2889 12.6629 12.2835 12.6656 12.2781C12.8224 12.0895 13.0009 11.9198 13.1875 11.7393C13.3145 11.6181 13.4443 11.4915 13.5687 11.3622C14.1447 10.7642 14.1447 10.0046 13.5633 9.4254L11.9382 7.80646C11.6624 7.52093 11.3325 7.37008 10.9864 7.37008C10.6403 7.37008 10.3077 7.52093 10.0238 7.80377L9.05582 8.76813C8.96659 8.71695 8.87465 8.67116 8.78813 8.62806C8.67997 8.57418 8.57992 8.523 8.49069 8.46643C7.6092 7.90883 6.80883 7.18152 6.04361 6.24679C5.65695 5.75922 5.39737 5.34977 5.2162 4.93224C5.47038 4.70327 5.70832 4.46353 5.93816 4.22918C6.01928 4.14567 6.1031 4.06216 6.18692 3.97866C6.47895 3.68773 6.63578 3.35102 6.63578 3.00891C6.63578 2.6668 6.48165 2.33009 6.18692 2.03916L5.38115 1.23643C5.28651 1.14215 5.19728 1.05056 5.10534 0.956278C4.92688 0.773104 4.74031 0.584542 4.55644 0.414836C4.27793 0.142768 3.95075 0 3.60465 0C3.26125 0 2.93136 0.142768 2.64204 0.41753L1.63076 1.42499C1.26302 1.79134 1.05482 2.23581 1.01156 2.75031C0.960181 3.39411 1.07916 4.07833 1.38741 4.9053C1.8606 6.18483 2.57444 7.37277 3.63439 8.64152ZM1.67132 2.80688C1.70377 2.44861 1.84167 2.14961 2.10125 1.89101L3.10712 0.888935C3.26395 0.738085 3.437 0.659967 3.60465 0.659967C3.76959 0.659967 3.93723 0.738085 4.09136 0.894322C4.27252 1.06133 4.44287 1.23643 4.62674 1.4223C4.71868 1.51658 4.81332 1.61086 4.90795 1.70783L5.71373 2.51057C5.88138 2.67758 5.9679 2.84729 5.9679 3.0143C5.9679 3.18131 5.88138 3.35102 5.71373 3.51803C5.62991 3.60153 5.54609 3.68773 5.46226 3.77124C5.2108 4.02445 4.97555 4.26419 4.71597 4.49316C4.71057 4.49855 4.70786 4.50124 4.70245 4.50663C4.47803 4.73021 4.51318 4.94302 4.56726 5.10464C4.56996 5.11272 4.57266 5.11811 4.57537 5.12619C4.78357 5.62453 5.07289 6.09863 5.52446 6.66432C6.33564 7.661 7.19009 8.43411 8.13107 9.02942C8.24734 9.10485 8.37172 9.16411 8.48799 9.22337C8.59615 9.27725 8.69619 9.32843 8.78542 9.385C8.79624 9.39038 8.80435 9.39577 8.81517 9.40116C8.9044 9.44695 8.99092 9.4685 9.07745 9.4685C9.29377 9.4685 9.43437 9.33112 9.48034 9.28533L10.4916 8.27787C10.6484 8.12163 10.8188 8.03813 10.9864 8.03813C11.1919 8.03813 11.3596 8.16473 11.465 8.27787L13.0955 9.8995C13.42 10.2228 13.4173 10.5729 13.0874 10.915C12.9738 11.0363 12.8549 11.1521 12.7278 11.2733C12.5385 11.4565 12.3411 11.645 12.1627 11.8579C11.8517 12.1919 11.4813 12.3481 11.0027 12.3481C10.9567 12.3481 10.908 12.3454 10.8621 12.3427C9.97516 12.2862 9.15046 11.9414 8.53125 11.6477C6.84939 10.8369 5.37303 9.6867 4.14814 8.22669C3.13957 7.0172 2.46088 5.89121 2.01202 4.68442C1.73351 3.94364 1.62806 3.34832 1.67132 2.80688Z' fill='%238592AB'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
}
.custom-select .dc-select__control{
  height: 52px;
  border: 1px solid #e5e5e5;
}
.util-block-item{
  cursor: pointer;
  transition: color 0.3s ease;
}
.util-block-item:hover{
  //color: #fe61a4;
}