.tracuu{
  &__boithuong{
    &__list1{
      >li{
        color: #2E3A5B;
        @extend .fz-16;
        &.uk-active{
          color: #FF61A3;
        }
      }
    }
    &__btn{
      background: #FF61A3;
      border-color: #FF61A3;
      color: #ffffff;
      text-transform: inherit;
      span{
        @extend .fz-16;
        font-family: $font-SF-Pro-Display-Medium;
      }
    }
    &__btnRutgon{
      text-transform: inherit;
      background: #FFF0F6;
      border-color: #FFF0F6;
      color: #FF61A3;
      span{
        @extend .fz-16;
        font-family: $font-SF-Pro-Display-Medium;
      }
    }
    &__btnView{
      text-transform: inherit;
      background: #EBF3F9;
      border-color: #EBF3F9;
      color: #3382BF;
      span{
        @extend .fz-16;
        font-family: $font-SF-Pro-Display-Medium;
      }
    }
    &__list{
      position: relative;
      //min-height: 1118px;
      padding-left: 30px;
      //margin-bottom: 0;
      &:before{
        content: "";
        position: absolute;
        left: 10px;
        top: 5px;
        bottom: 5px;
        width: 1px;
        display: block;
        background-color: #DBE0E6;
      }
    }
    &__li{
      >*{
        &:nth-child(n+2){
          margin-top: 5px;
        }
      }
      &:not(.tracuu__boithuong__step){
        position: relative;
        &:before{
          content: "";
          background: #DBE0E6;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          display: block;
          position: absolute;
          top: 8px;
          left: -24px;
        }
      }
    }
    &__step{

    }
    &__title{
      .tracuu__boithuong__li.tracuu__boithuong__step:first-child &{
        color: #FF61A3;
      }
      color: #2E3A5B;
      @extend .fz-20;
      font-family: $font-Roboto-Medium;
      line-height: 1.4;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -31px;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11.5' fill='white' stroke='%238592AB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.4124 7.15281C18.6161 7.35657 18.6161 7.68691 18.4124 7.89066L10.0646 16.2385C9.86082 16.4422 9.53048 16.4422 9.32673 16.2385L5.15281 12.0646C4.94906 11.8608 4.94906 11.5305 5.15281 11.3267C5.35657 11.123 5.68691 11.123 5.89066 11.3267L9.69565 15.1317L17.6745 7.15281C17.8783 6.94906 18.2086 6.94906 18.4124 7.15281Z' fill='%23FF61A3'/%3E%3C/svg%3E%0A");
      }
    }
    &__txt1{
      color: #596481;
      @extend .fz-16;
    }
    &__txt2{
      color: #596481;
      @extend .fz-14;
      padding-left: 20px;
      background-repeat: no-repeat;
      background-position: center left;
      &--date{
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5 4.25C0.5 4.11193 0.611929 4 0.75 4H11.25C11.3881 4 11.5 4.11193 11.5 4.25C11.5 4.38807 11.3881 4.5 11.25 4.5H0.75C0.611929 4.5 0.5 4.38807 0.5 4.25Z' fill='%23596481'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.75 1.75C1.33579 1.75 1 2.08579 1 2.5V10.25C1 10.6642 1.33579 11 1.75 11H10.25C10.6642 11 11 10.6642 11 10.25V2.5C11 2.08579 10.6642 1.75 10.25 1.75H1.75ZM0.5 2.5C0.5 1.80964 1.05964 1.25 1.75 1.25H10.25C10.9404 1.25 11.5 1.80964 11.5 2.5V10.25C11.5 10.9404 10.9404 11.5 10.25 11.5H1.75C1.05964 11.5 0.5 10.9404 0.5 10.25V2.5Z' fill='%23596481'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.25 0.25C3.38807 0.25 3.5 0.361929 3.5 0.5V2.75C3.5 2.88807 3.38807 3 3.25 3C3.11193 3 3 2.88807 3 2.75V0.5C3 0.361929 3.11193 0.25 3.25 0.25Z' fill='%23596481'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.75 0.25C8.88807 0.25 9 0.361929 9 0.5V2.75C9 2.88807 8.88807 3 8.75 3C8.61193 3 8.5 2.88807 8.5 2.75V0.5C8.5 0.361929 8.61193 0.25 8.75 0.25Z' fill='%23596481'/%3E%3C/svg%3E%0A");
      }
      &--time{
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.25 0.5C4.25 0.361929 4.36193 0.25 4.5 0.25H7.5C7.63807 0.25 7.75 0.361929 7.75 0.5C7.75 0.638071 7.63807 0.75 7.5 0.75H4.5C4.36193 0.75 4.25 0.638071 4.25 0.5Z' fill='%23596481'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0.25C6.13807 0.25 6.25 0.361929 6.25 0.5V1.25C6.25 1.38807 6.13807 1.5 6 1.5C5.86193 1.5 5.75 1.38807 5.75 1.25V0.5C5.75 0.361929 5.86193 0.25 6 0.25Z' fill='%23596481'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 4.25C6.13807 4.25 6.25 4.36193 6.25 4.5V6.75H8.5C8.63807 6.75 8.75 6.86193 8.75 7C8.75 7.13807 8.63807 7.25 8.5 7.25H6C5.86193 7.25 5.75 7.13807 5.75 7V4.5C5.75 4.36193 5.86193 4.25 6 4.25Z' fill='%23596481'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 2.75C3.65279 2.75 1.75 4.65279 1.75 7C1.75 9.34721 3.65279 11.25 6 11.25C8.34721 11.25 10.25 9.34721 10.25 7C10.25 4.65279 8.34721 2.75 6 2.75ZM1.25 7C1.25 4.37665 3.37665 2.25 6 2.25C8.62335 2.25 10.75 4.37665 10.75 7C10.75 9.62335 8.62335 11.75 6 11.75C3.37665 11.75 1.25 9.62335 1.25 7Z' fill='%23596481'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.32322 2.07322C9.42085 1.97559 9.57915 1.97559 9.67678 2.07322L11.1768 3.57322C11.2744 3.67085 11.2744 3.82915 11.1768 3.92678C11.0791 4.02441 10.9209 4.02441 10.8232 3.92678L9.32322 2.42678C9.22559 2.32915 9.22559 2.17085 9.32322 2.07322Z' fill='%23596481'/%3E%3C/svg%3E%0A");
      }
    }
    &__txt3{
      @extend .fz-14;
      color: #596481;
      line-height: 24px;
    }
  }
  &__box1{
    background: #FAFAFB;
    border-radius: 4px;
    &__btn{
      padding: 0 5px;
      text-transform: inherit;
      //max-width: 200px;
      width: 100%;
      span{
        @extend .fz-16;
        font-family: $font-SF-Pro-Display-Medium;
      }
      &.uk-button-default{
        background: #FFF0F6;
        border-color: #FFF0F6;
        color: #FF61A3;
      }
      &.uk-button-primary{
        background: #FF61A3;
      }
    }
    &__item{
      &:nth-child(n+2){
        $x:10px;
        margin-top: #{$x};
      }
    }
    &__item2{
      &:nth-child(n+2){
        $x:10px;
        margin-top: #{$x};
      }
    }
    &__img{
      width: 32px;
      height: 32px;
    }
    &__title{
      color: #2E3A5B;
      line-height: 1.4;
      @extend .fz-20;
      font-family: $font-Roboto-Medium;
    }
    &__txt1{
      @extend .fz-16;
      color: #2E3A5B;
      line-height: 1.5;
    }
    &__txtLeft{
      @extend .fz-16;
      color: #596481;
      line-height: 1.5;
    }
    &__txt2{
      @extend .fz-14;
      color: #2E3A5B;
      line-height: 1.43;
    }
    &__status{
      @extend .fz-16;
      line-height: 1.5;
      &--dangxuly{
        color: #FF5B5B;
      }
      &--boithuong{
        color: #3382BF;
      }
    }
  }
  &__btnSubmit{
    $x:48px;
    line-height: calc(#{$x} - 2px);
    background: #FF61A3;
    border-color: #FF61A3;
    color: #ffffff;
    text-transform: inherit;
    span{
      @extend .fz-16;
      font-family: $font-SF-Pro-Display-Medium;
    }
  }
  &__rsInvoice{
    padding: 24px;
  }
  &__boxTop80{
    margin-top: 80px;
  }
  &__boxTop46{
    margin-top: 46px;
  }
  &__boxTop40{
    margin-top: 40px;
  }
  &__txt1{
    color: #2E3A5B;
    line-height: 1.5;
    @extend .fz-16;
  }
  &__boxForm{
    $x:12px;
    &__btnSelect{
      $y:52px;
      line-height: calc(#{$y} - 2px);
      border: 1px solid #DBE0E6;
      box-sizing: border-box;
      border-radius: 8px;
      text-transform: inherit;
      text-align: left;
      padding-left: #{$x};
      position: relative;
      span{
        &:first-child{
          color: #2E3A5B;
          @extend .fz-16;
          line-height: 1.25;
          font-family: $font-SF-Pro-Display-Regular;
        }
      }
      .uk-icon{
        right: calc(#{$x} - 3px);
      }
    }
    &__input{
      background: #FFFFFF;
      border: 1px solid #DBE0E6;
      box-sizing: border-box;
      border-radius: 8px;
      height: 52px;
      color: #2E3A5B;
      @extend .fz-16;
      font-family: $font-SF-Pro-Display-Regular;
      padding-top: 15px;
      &::placeholder{
        //color: #2E3A5B;
      }
    }
    &__label{
      left: #{$x};
      color: #596481;
      @extend .fz-16;
      font-family: $font-SF-Pro-Display-Regular;
      line-height: 1.25;
      transition: all .3s;
      .tracuu__boxForm__input:focus ~ &,
      .inValid> &{
        color: #8592AB;
        line-height: 1.33;
        @extend .fz-12;
        top: 14px;
      }
    }
    &__icon{
      &--calendar{
        //background-repeat: no-repeat;
        //background-position: center;
        //background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 8.5C1 8.22386 1.22386 8 1.5 8H22.5C22.7761 8 23 8.22386 23 8.5C23 8.77614 22.7761 9 22.5 9H1.5C1.22386 9 1 8.77614 1 8.5Z' fill='%238592AB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.5 3.5C2.67157 3.5 2 4.17157 2 5V20.5C2 21.3284 2.67157 22 3.5 22H20.5C21.3284 22 22 21.3284 22 20.5V5C22 4.17157 21.3284 3.5 20.5 3.5H3.5ZM1 5C1 3.61929 2.11929 2.5 3.5 2.5H20.5C21.8807 2.5 23 3.61929 23 5V20.5C23 21.8807 21.8807 23 20.5 23H3.5C2.11929 23 1 21.8807 1 20.5V5Z' fill='%238592AB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.5 0.5C6.77614 0.5 7 0.723858 7 1V5.5C7 5.77614 6.77614 6 6.5 6C6.22386 6 6 5.77614 6 5.5V1C6 0.723858 6.22386 0.5 6.5 0.5Z' fill='%238592AB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5 0.5C17.7761 0.5 18 0.723858 18 1V5.5C18 5.77614 17.7761 6 17.5 6C17.2239 6 17 5.77614 17 5.5V1C17 0.723858 17.2239 0.5 17.5 0.5Z' fill='%238592AB'/%3E%3C/svg%3E%0A");
        svg{
          //opacity: 0;
        }
      }
    }
  }
  &__showMore {
    max-height: 234px;
    overflow: hidden;
  }
}

@keyframes growProgressBar {
  0%, 33% { --pgPercentage: 0; }
  100% { --pgPercentage: var(--value); }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 168px;
  --fg: #FF61A3;
  --bg: #FFD0E4;
  --bgColor: #2E3A5B;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background:
          radial-gradient(closest-side, white 75%, transparent 0 99.9%, white 0),
          conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
;
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  @extend .fz-30;
  color: var(--bgColor);
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
}