.breadcrumb{
  &__section{
    $x:10px;
    padding-top: #{$x};
    padding-bottom: #{$x};
    background-color: #fff;
    @include media-breakpoint-up('m'){
      $x:12px;
      padding-top: #{$x};
      padding-bottom: #{$x};
      background-color: transparent;
    }
    &::-webkit-scrollbar{
      display: none;
    }
    //background: #F4F5F6;
    .uk-breadcrumb{
      width: max-content;
      $x:15px;
      >li{
        &:nth-child(n+2){
          &:before{
            $y:12px;
            content: url("/images/ic_arrow_right.svg");
            //margin: 0 #{$y} 0 calc(#{$y} - 4px);
            margin: 0 9px;
          }
        }
        &:first-child{
          >*{
            @include media-breakpoint-down('s'){
              margin-left: #{$x};
            }
          }
        }
        &:last-child{
          >*{
            @include media-breakpoint-down('s'){
              margin-right: #{$x};
            }
          }
        }
      }
    }
  }
}
.uk-breadcrumb>:last-child>a:not([href]), .uk-breadcrumb>:last-child>span {
  color: #596481;
}
.uk-breadcrumb>*>*{
  color: #8592AB;
}
