//=====================================================
// Custom Grid
//=====================================================
@mixin uk-grid($i,$j: false) {
  @if $j {
    margin-left: -#{$i}px !important;
    > * {
      padding-left: #{$i}px !important;
    }
    > .uk-grid-margin {
      margin-top: #{$i}px !important;
    }
  } @else {
    margin-left: -#{$i}px;
    > * {
      padding-left: #{$i}px;
    }
    > .uk-grid-margin {
      margin-top: #{$i}px;
    }
  }
}

$j: 5, 8,
10, 15, 17, 18,
20,
30, 32,
40,
50,
60,
70, 75,
110, 116;
@each $i in $j {
  .uk-grid-#{$i}-xl {
    @include media-breakpoint-up('xl') {
      @include uk-grid($i, $j: true);
    }
  }
  .uk-grid-#{$i}-l {
    @include media-breakpoint-up('l') {
      @include uk-grid($i, $j: true);
    }
  }
  .uk-grid-#{$i}-m {
    @include media-breakpoint-up('m') {
      @include uk-grid($i, $j: true);
    }
  }
  .uk-grid-#{$i}-s {
    @include media-breakpoint-up('s') {
      @include uk-grid($i, $j: true);
    }
  }
  .uk-grid-#{$i} {
    @include uk-grid($i);
  }
}