
.mh-tabs.nav-tabs > li, .mh-tabs .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.mh-tabs.nav-tabs, .nav-pills {
    text-align:center;
}
.mh-tabs.tabs-product{
    background: #F4F5F6;
    padding: 17px 0px;
}
.mh-tabs.tabs-product li a{
    color: #596481;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 20px;
}
.mh-tabs.tabs-product li a{
    text-decoration: none;
}
.mh-tabs.tabs-product li.active a{
    color: #FF61A3;
}