.iconFloat{
  &__box{
    background: #FFFFFF;
    /* Ink/200 */

    border: 1px solid #DBE0E6;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    &--x{
      background-image: url("/icon/x.svg");
    }
    &--zalo{
      background-image: url("/icon/zalo.svg");
    }
    &--messenger{
      background-image: url("/icon/messenger.svg");
    }
    &--cs{
      background-image: url("/icon/customer-support.svg");
    }
    &--chat{
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2341_5994)'%3E%3Cpath d='M32 11.8678C32 5.486 26.8287 0.3125 20.4495 0.3125C15.3257 0.3125 10.9811 3.65019 9.4696 8.27081C10.3376 8.06237 11.2437 7.95194 12.1755 7.95194C18.5547 7.95194 23.726 13.1254 23.726 19.5072C23.726 20.7631 23.5257 21.9721 23.1555 23.1041C24.7353 22.7244 26.1887 22.0199 27.4414 21.0654L27.9747 20.6658L31.1607 21.1381L30.2962 17.9104C31.3765 16.1522 32 14.0829 32 11.8678Z' fill='%23FF61A3'/%3E%3Cpath d='M7.13747 21.585C7.98788 21.585 8.67728 20.8953 8.67728 20.0446C8.67728 19.1938 7.98788 18.5042 7.13747 18.5042C6.28705 18.5042 5.59766 19.1938 5.59766 20.0446C5.59766 20.8953 6.28705 21.585 7.13747 21.585Z' fill='%23FF61A3'/%3E%3Cpath d='M12.1756 21.585C13.026 21.585 13.7154 20.8953 13.7154 20.0446C13.7154 19.1938 13.026 18.5042 12.1756 18.5042C11.3251 18.5042 10.6357 19.1938 10.6357 20.0446C10.6357 20.8953 11.3251 21.585 12.1756 21.585Z' fill='%23FF61A3'/%3E%3Cpath d='M17.2136 21.585C18.0641 21.585 18.7535 20.8953 18.7535 20.0446C18.7535 19.1938 18.0641 18.5042 17.2136 18.5042C16.3632 18.5042 15.6738 19.1938 15.6738 20.0446C15.6738 20.8953 16.3632 21.585 17.2136 21.585Z' fill='%23FF61A3'/%3E%3Cpath d='M12.1755 31.6875C9.48756 31.6875 6.93881 30.828 4.80481 29.2018L4.48413 28.9615L1.556 29.3957C1.34788 29.4264 1.13794 29.3505 0.997813 29.1934C0.857688 29.0363 0.806125 28.8192 0.860563 28.6158L1.65656 25.6438C0.572 23.7865 0 21.6708 0 19.5072C0 12.791 5.46194 7.3269 12.1755 7.3269C18.8891 7.3269 24.3511 12.791 24.3511 19.5072C24.3511 26.2235 18.8891 31.6875 12.1755 31.6875ZM4.65031 27.6801C4.78463 27.6801 4.91631 27.7234 5.02513 27.805L5.55844 28.2046C7.47688 29.6665 9.76363 30.4375 12.1755 30.4375C18.1999 30.4375 23.1011 25.5342 23.1011 19.5072C23.1011 13.4802 18.1999 8.5769 12.1755 8.5769C6.15113 8.5769 1.25 13.4803 1.25 19.5072C1.25 21.5307 1.80719 23.507 2.86138 25.2226C2.95125 25.3688 2.977 25.5457 2.93263 25.7115L2.31438 28.0197L4.55863 27.6869C4.58919 27.6823 4.61981 27.6801 4.65031 27.6801Z' fill='%238592AB'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2341_5994'%3E%3Crect width='32' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    &--phone{
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.2491 14.375C26.3557 14.375 28.8741 11.8566 28.8741 8.75C28.8741 5.6434 26.3557 3.125 23.2491 3.125C20.1425 3.125 17.6241 5.6434 17.6241 8.75C17.6241 11.8566 20.1425 14.375 23.2491 14.375Z' fill='%23FF61A3'/%3E%3Cpath d='M23.5448 20.5299C23.3259 20.3804 23.1301 20.2468 22.968 20.1343C21.7132 19.2633 20.0002 19.0729 18.7889 20.0124C18.7315 20.0569 18.6262 20.1385 15.9491 23.2515C13.2993 22.3915 9.62072 18.7127 8.75978 16.0618C11.8728 13.3847 11.9543 13.2795 11.9987 13.2222C12.8607 12.1112 12.8143 10.4351 11.8831 9.05166L11.7694 8.88253C10.3832 6.81909 8.84215 4.62766 7.92428 4.01872C6.8779 3.32434 5.39853 3.36816 4.33578 4.01197C3.7519 4.36741 1.32259 6.84016 1.10547 7.11591C0.98628 7.26859 0.853968 7.38691 0.720405 7.64891C-0.846219 10.7469 0.437093 16.4735 1.79515 19.6438C3.51222 23.6573 8.35378 28.4989 12.3671 30.2159C14.4392 31.104 17.8242 32 20.7156 32C22.2052 32 23.4321 31.7614 24.3596 31.292C25.0682 30.9379 27.7496 28.0882 27.9993 27.675C28.6678 26.5755 28.6655 25.1006 27.9937 24.0882C27.411 23.2096 25.4764 21.8486 23.5448 20.5299ZM26.9305 27.0268C26.7186 27.3712 24.1705 29.9891 23.7979 30.1753C21.1411 31.5199 15.5963 30.24 12.8591 29.0669C9.15997 27.4842 4.5269 22.8511 2.94428 19.1518C1.67984 16.2 0.50003 10.8547 1.83503 8.21478C1.88759 8.11172 1.95203 8.06322 2.08934 7.88697C2.35672 7.5511 4.62803 5.30091 4.98465 5.08041C5.67628 4.66147 6.63184 4.66122 7.23328 5.06034C8.10565 5.63909 10.2614 8.87928 10.8462 9.74972C11.364 10.519 11.6183 11.6408 11.0312 12.4297C10.7714 12.6766 8.83584 14.3487 7.64384 15.3729C7.46715 15.5248 7.38959 15.7622 7.44247 15.989C8.20153 19.2406 12.7721 23.8112 16.0223 24.5689C16.2491 24.6217 16.4864 24.5442 16.6382 24.3675C17.6625 23.1755 19.3346 21.2398 19.5815 20.9801C20.3463 20.4105 21.4658 20.6132 22.2554 21.1613C23.1486 21.781 26.3746 23.9085 26.9521 24.7792C27.3521 25.3822 27.3433 26.3479 26.9305 27.0268Z' fill='%238592AB'/%3E%3Cpath d='M25.7491 8.125H23.8741V6.25C23.8741 5.90488 23.5943 5.625 23.2491 5.625C22.904 5.625 22.6241 5.90488 22.6241 6.25V8.125H20.7491C20.404 8.125 20.1241 8.40481 20.1241 8.75C20.1241 9.09519 20.404 9.375 20.7491 9.375H22.6241V11.25C22.6241 11.5952 22.904 11.875 23.2491 11.875C23.5943 11.875 23.8741 11.5952 23.8741 11.25V9.375H25.7491C26.0943 9.375 26.3741 9.09519 26.3741 8.75C26.3741 8.40481 26.0943 8.125 25.7491 8.125Z' fill='white'/%3E%3Cpath d='M23.2491 0C18.4244 0 14.4991 3.92525 14.4991 8.75C14.4991 11.011 15.3793 13.1831 16.9343 14.8059L15.3072 16.4331C15.1285 16.6118 15.075 16.8806 15.1718 17.1142C15.2685 17.3477 15.4964 17.5 15.7491 17.5H23.2491C28.0739 17.5 31.9991 13.5747 31.9991 8.75C31.9991 3.92525 28.0739 0 23.2491 0ZM23.2491 16.25H17.258L18.2671 15.2409C18.5201 14.9878 18.5097 14.5735 18.2426 14.3337C16.658 12.9119 15.7491 10.8767 15.7491 8.75C15.7491 4.6145 19.1136 1.25 23.2491 1.25C27.3847 1.25 30.7491 4.6145 30.7491 8.75C30.7491 12.8855 27.3847 16.25 23.2491 16.25Z' fill='%238592AB'/%3E%3C/svg%3E%0A");
    }
    &--help{
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.679 9.00431C11.679 13.9766 15.7091 18.0086 20.6833 18.0086C25.6556 18.0086 29.6858 13.9766 29.6858 9.00431C29.6858 4.03206 25.6556 0 20.6833 0C15.7091 0 11.679 4.03206 11.679 9.00431Z' fill='%23A4FCC4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.679 9.00431C11.679 13.9766 15.7091 18.0086 20.6833 18.0086C25.6556 18.0086 29.6858 13.9766 29.6858 9.00431C29.6858 4.03206 25.6556 0 20.6833 0C15.7091 0 11.679 4.03206 11.679 9.00431Z' fill='%23FF61A3'/%3E%3Cpath d='M16.3306 30.8997H5.18946C4.84409 30.8997 4.56409 30.6197 4.56409 30.2743C4.56409 29.9289 4.84402 29.6489 5.18946 29.6489H16.3306C18.4035 29.6489 19.838 28.7936 20.9906 28.1062C21.1587 28.006 21.3174 27.9114 21.4721 27.8231L28.8683 23.5903C28.9182 23.5618 29.0685 23.4759 29.1077 23.1899C29.1553 22.8418 29.0078 22.4158 28.749 22.1541C28.4178 21.8193 27.9758 21.9309 27.0463 22.2658L26.9846 22.288L19.8991 24.8326C19.7937 24.9454 19.6784 25.0494 19.554 25.1431C18.9872 25.5698 18.2955 25.7463 17.6069 25.6398L14.2078 25.1181C13.8664 25.0657 13.6322 24.7465 13.6845 24.4051C13.737 24.0637 14.0568 23.8293 14.3975 23.8818L17.7972 24.4036C18.1503 24.4582 18.5068 24.3659 18.8017 24.1438C18.8783 24.0862 18.9485 24.0213 19.0114 23.9503C19.0329 23.9185 19.0573 23.8886 19.0847 23.8609C19.2346 23.6623 19.3327 23.4265 19.3644 23.1783C19.46 22.4293 18.9174 21.7461 18.1022 21.589L14.4066 20.8831C14.2945 20.8617 14.1828 20.8401 14.0715 20.8186C11.8255 20.3848 10.0498 20.0417 8.61496 21.6012L6.33277 24.4589C6.11715 24.7288 5.72371 24.7727 5.45384 24.5573C5.18396 24.3418 5.1399 23.9483 5.3554 23.6784L7.65078 20.8042C7.65934 20.7935 7.66815 20.7831 7.6774 20.7731C9.58721 18.6786 11.9874 19.1421 14.3088 19.5906C14.4193 19.612 14.5301 19.6334 14.6413 19.6546L18.3379 20.3608C19.7799 20.6385 20.7439 21.8698 20.6152 23.2466L26.6227 21.0891C27.5532 20.7538 28.7111 20.3369 29.6385 21.2746C30.169 21.8109 30.4472 22.6293 30.3472 23.3595C30.268 23.9379 29.9633 24.4054 29.4892 24.6762L22.093 28.9089C21.9481 28.9917 21.7943 29.0834 21.6313 29.1806C20.4144 29.9061 18.748 30.8997 16.3306 30.8997Z' fill='%238592AB'/%3E%3Cpath d='M20.7018 15.1016C20.3564 15.1016 20.0764 14.8234 20.0764 14.478V14.4743C20.0764 14.1289 20.3564 13.8489 20.7018 13.8489C21.0472 13.8489 21.3272 14.1288 21.3272 14.4743C21.3272 14.8197 21.0472 15.1016 20.7018 15.1016Z' fill='white'/%3E%3Cpath d='M20.6833 11.7645C20.3379 11.7645 20.0579 11.4846 20.0579 11.1392V8.52672C20.0579 8.18135 20.3379 7.90135 20.6833 7.90135C21.2008 7.90135 21.6825 7.69435 22.0396 7.31841C22.3975 6.94178 22.5799 6.44729 22.5532 5.92604C22.5021 4.95316 21.6979 4.17516 20.7225 4.15579C19.7718 4.13872 18.9591 4.82916 18.8286 5.76647C18.8164 5.84922 18.8106 5.93579 18.8106 6.02866C18.8106 6.37404 18.5306 6.65403 18.1852 6.65403C17.8398 6.65403 17.5598 6.3741 17.5598 6.02866C17.5598 5.87266 17.5698 5.72879 17.5904 5.58891C17.8046 4.05041 19.1289 2.90466 20.6837 2.90466C20.7051 2.90466 20.7261 2.90491 20.7475 2.90535C22.375 2.93773 23.7169 4.2361 23.8022 5.86129C23.8467 6.72922 23.5427 7.55235 22.9464 8.18003C22.4975 8.65253 21.9306 8.96497 21.3087 9.09022V11.1392C21.3087 11.4846 21.0287 11.7645 20.6833 11.7645Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.63306 20.5787V31.3622H6.54262V30.2744V23.193V20.5787H1.63306Z' fill='%23A4FCC4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.63306 20.5787V32H6.54262V30.9123V23.193V20.5787H1.63306Z' fill='%23FF61A3'/%3E%3C/svg%3E%0A");
    }
  }
}